<div class="container" id="dashboard">
  <div class="row header">
    <div class="col-md-12">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <ul class="breadcrumb">
      <li><a href="/site/#!/">Home</a></li>
      <li class="active">Dashboard</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel"
      ng-repeat="displaySymbol in allSymbols"
      ng-class="
      {'panel-primary': symbol == displaySymbol.symbol,
      'panel-info': symbol != displaySymbol.symbol}"
      ng-class="{'panel-info': symbol != displaySymbol.symbol}">
      <div class="panel-heading">
        <a ng-href="/site/#!/dashboard/{{displaySymbol.symbol}}">{{displaySymbol.name | textLimiter}}</a>
        <span class="badge pull-right" ng-show="symbol == displaySymbol.symbol">
          <i class="fa fa-arrow-right"></i>
        </span>
      </div>
      <div class="panel-body" ng-show="symbol == displaySymbol.symbol">
        <div class="sentiment-display">
          <i ng-show="forecastedChange > 0" class="pull-left fa fa-long-arrow-up"></i>
          <i ng-show="forecastedChange <= 0" class="pull-left fa fa-long-arrow-down"></i>
          <h4 class="pull-left">{{forecastedChange}} <small>forecasted</small></h4>
        </div>

        <div class="clearfix"></div>
        <div class="last-updated">Last updated {{lastUpdatedDate | date:'yyyy-MM-dd'}}</div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="data" style="height: 500px; min-width: 500px"></div>
  </div>
</div>
