<div class="container" id="dashboard">

    <div class="row header">
        <div class="col-md-12">
            <h1>Dashboard</h1>
        </div>
    </div>

    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/site/#!/">Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/site/#!/dashboard/{{displaySymbol.symbol}}"
                    ng-repeat="displaySymbol in allSymbols"
                    ng-class="{active: symbol == displaySymbol.symbol}"
                    class="list-group-item">
                    {{displaySymbol.name | textLimiter}}
                    <span class="badge" ng-show="symbol == displaySymbol.symbol">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div id="data" style="height: 500px; min-width: 500px"></div>
        </div>
</div>
