<div class="container">
    <div id="front-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#front-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#front-carousel" data-slide-to="1"></li>
            <li data-target="#front-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/slide1.jpeg" alt="...">
                <div class="carousel-caption">
                    <h1>Predictly</h1>
                    <p>Schlitz direct trade mumblecore, Godard iPhone +1 twee biodiesel quinoa kitsch irony mixtape organic chia fashion axe. Banksy authentic Truffaut before they sold out dreamcatcher, selfies fap twee four loko YOLO pug ennui pickled mumblecore.</p>
                </div>
            </div>
            <div class="item ">
                <img src="/images/slide2.jpeg" alt="...">
                <div class="carousel-caption">
                    <h1>Predictly</h1>
                    <p>Wayfarers High Life ethical keffiyeh vinyl, Bushwick fixie mustache photo booth tousled street art mlkshk beard. Normcore freegan next level pork belly, Helvetica art party Tonx direct trade blog. Blog kogi hoodie jean shorts sriracha. </p>
                </div>
            </div>
            <div class="item ">
                <img src="/images/slide3.jpeg" alt="...">
                <div class="carousel-caption">
                    <h1>Predictly</h1>
                    <p>Disrupt ethnic Schlitz tattooed Neutra Pinterest, occupy flexitarian art party meh. Beard slow-carb ethnic, kitsch DIY synth fingerstache 90's Intelligentsia pug.</p>
                </div>

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#front-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#front-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Something about being awesome</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>

        <div class="col-md-4">
            <h2>Marketing speak</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>

        <div class="col-md-4">
            <h2>Maximize synergy</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
    </div>
</div>

