<div class="container">
    <div id="front-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#front-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#front-carousel" data-slide-to="1"></li>
            <li data-target="#front-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/slide1.jpg" alt="...">
                <div class="carousel-caption">
                    <h1>Predictly&reg;</h1>
                    <p>Base your purchases on our data and never go wrong</p>
                </div>
            </div>
            <div class="item ">
                <img src="/images/slide2.jpg" alt="...">
                <div class="carousel-caption">
                    <h1>HDBP&trade;</h1>
                    <p>Historical data based predictions</p>
                </div>
            </div>
            <div class="item ">
                <img src="/images/slide3.jpg" alt="RTSA">
                <div class="carousel-caption">
                    <h1>RTSA&trade;</h1>
                    <p>Real-time Sentiment Analysis</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#front-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#front-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>High Impact</h2>
            <p>In the economics world, it is very important to see the impact of news stories on market performance to not only see trends based on news topics but also to predict future market changes based on the types of events in the world.</p>
        </div>

        <div class="col-md-4">
            <h2>Understand Data</h2>
            <p>This trend data could be used by firms or individuals to make short term or long term decisions by either allowing them to see the long-term change based on a set of news stories or enter events that have not yet hit the news into the system to predict potential short-term changes in market, thus allowing for better decisions to be made in the market.</p>
        </div>

        <div class="col-md-4">
            <h2>Interested?</h2>
            <p><a href="#">Email us</a> or give us a call at <tel>1-888-555-9182</tel></p>
        </div>
    </div>
</div>
