<div class="container">
    <div class="row header">
        <div class="col-md-12">
            <h1>Article Source <small>New York Times &mdash; Business</small></h1>
        </div>
    </div>

    <div class="alert alert-warning" ng-show="dataGrabError">
        <b>Uh oh</b> We had some trouble grabbing data. Try again?
    </div>

    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/#!/site/">Home</a></li>
            <li class="active">New York Times &mdash; Business</li>
        </ul>
    </div>

    <div class="row" ng-show="isLoading">
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: 100%">Loading...</div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="article in data.response.docs track by $index">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$index}}">
                            <div class="pull-left">{{article.headline.main}} <span class="caret"></span> </div>
                            <div class="pull-right">
                                <a href="" ng-click="processArticle(article.web_url, $index)"><small>Process Sentiment <i class="fa fa-share"></i></small></a>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>{{article.snippet}}
                        &mdash; <a href="{{article.web_url}}">Link</a></p>
                        <div ng-show="data.response.docs[$index].sentiment">
                            <h3>Results</h3>
                            <h4>Sentiment: {{data.response.docs[$index].sentiment}}</h4>
                            <h4>Score: {{data.response.docs[$index].score}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-hide="isLoading">
        <div class="center-block">
            <ul class="pagination">
                <li ng-show="currentPage > 0"><a href="" ng-click="getData(currentPage- 1)">&laquo;</a></li>
                <li><a href="">{{currentPage + 1}}</a></li>
                <li><a href="" ng-click="getData(currentPage + 1)">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

